@page "/fetchtable"
@using JStatic.Shared
@using Microsoft.AspNetCore.WebUtilities
@inject HttpClient Http


<h1>Retrieve Storage Table rows</h1>

<p>This component demonstrates fetching rows from a storage account Table</p>
@if (theItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
    <select @bind="@SelectedValue">
        <option value="website1">Website1</option>
        <option value="website2">Website2</option>
    </select>
</p>
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Is Sale</th>
        </tr>
        <tr><th colspan="3">Selected partition is: @SelectedValue</th></tr>
    </thead>
    <tbody>
        @foreach (var item in theItems)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Sale</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public string SelectedValue = "website1";
    private Product[] theItems = new Product[] { };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            theItems = await Http.GetFromJsonAsync<Product[]>("/api/querytabledata?partkey=" + SelectedValue) ?? new Product[] { };
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
